{% extends 'base.html' %}
{% block content %}
<div id="header1"><b id="companyname">COUNTRY SPORTS BET</b>
<div id="login">
  <form id="form1" name="form1" method="post" action="">
    <table width="500" border="0">
      <tr>
        <td width="100" height="23" style=" color:#CCC;"><b>Current User</b></td>
        <td width="180" style=" color:#CCC;">{{ request.user.username }} </td>
        <td width="47">&nbsp;</td>
        <td width="174" style=" color:#CCC;"><b><a href="{% url logout %}">Logout</a></b></td>
      </tr>
    </table>
  </form>
</div>
</div>
<div id="content">
<div id="contenteft">
  <p style=" padding-left:20px"><a href="bet.html">Place Bet</a></p>
  <p style=" padding-left:20px"><a href="uploadfixture.html">Add Fixtures</a></p>
  <p style=" padding-left:20px"><a href="uploadresults.html">Add Results</a></p>
  <p style=" padding-left:20px"><a href="paywinner.html">Pay Winning Ticket</a></p>
  <p style=" padding-left:20px"><a href="bet.html">View Sold Out Tickets</a></p>
  <p style=" padding-left:20px"><a href="bet.html">View Winning Tickets</a></p>
</div>
    <div class="errorBox"></div>

 <div id="contentright">
   <form action="{% url bet %}" method="post" id="better">{% csrf_token %}
   <b style="font-weight:bold; color:#090;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount Staked 
   <input type="text" name="amountstaked" id="amount"/></b><br /><br />
   
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-weight:bold; color:#090;">Match Code</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-weight:bold; color:#090;">Side Picked</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-weight:bold; color:#090;">Odd</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-weight:bold; color:#090;">Category</b><br />
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ form.match_code }}
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ form.side_picked }}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ form.odd }}
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ form.category }}

<p><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="button" id="stake" value="STAKE" disabled='disabled'/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="hidden" id="jobject" name="jobject"/>
  <input type="button" id="addmatch" value="Add Match" disabled='disabled'/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="button" id="cancel" value="CANCEL" />
</p>
<p>&nbsp;</p>
   </form>
     <div>
         code ----- Side ----- Odd ----- Category<br/>
         <span class="ticket"></span>
     </div>
    <script type="text/javascript">
        $('#addmatch').click(function(){
            var jobject = $('#jobject').val();
            var code = $('#id_match_code').val();
            var picked = $('#id_side_picked').val();
            var odd = $('#id_odd').val();
            var category = $('#id_category').val();
            var match = '';
            if (code != '' && picked != ''&& odd != ''){
            match = jobject+" "+code+"-"+picked+"-"+odd+"-"+category;
            }
            var ticket = $('.ticket').html();
            var stick = code + '----' + picked + '----' + odd + '-----' + category + '<br/>';
            $('.ticket').html(ticket + stick);
            $('#jobject').val(match);
            $('#id_match_code').val("");
            $('#id_side_picked').val("");
            $('#id_odd').val("");
            alert('Match added, Add another or stake    '+$('#jobject').val());

        });
        $('#id_match_code').change(checkForErrors);
        $('#id_side_picked').change(checkForErrors);
        $('#id_category').change(checkForErrors);

        function checkForErrors(){
            $('#better').submit();
        }

    </script>
 </div>
</div>

<div id="footer">
 <p style="color:#FFF;">&nbsp;&nbsp;&copy; Copyrights 2012 Country Sports Bet &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AwesomeNUX &nbsp;Inc.</p>
</div>
{% endblock %}
